<div class="google-dfp-ad-label"><h2>ADVERTISEMENT</h2></div>
<div id='{{divId}}' style='{{fixedSize}}' class="dfp-ad-unit">
  {{#if loadedGoogletag}}
    <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('{{divId}}'); });
    </script>
  {{/if}}
</div>
